
.highlightText {
  background: yellow;
}

.quantified {
  background-color: #fdcdff;
}

.kplus {
  background-color: #c6ff0c;
}

.kstar {
  background-color: #bcfffd;
}

.koption {
  background-color: #fdcdff;
}
