<main class="mn-inner">
  <div class="row">
    <div class="col s12 m12 l12">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Regular Expression Builder </span><br>
          <div class="row">
            <div class="row">
              <div class="col s12">
                  <a href="javascript:void(0)"><h5>{{regex}}</h5></a>
              </div>

            </div>
            <form class="col s12">
              <div class="row">
                <span *ngFor="let block of expression.children" [ngSwitch]="block.type">
                  <single-block *ngSwitchCase="'single'" [block]="block"></single-block>
                  <or-block *ngSwitchCase="'or'" [block]="block"></or-block>
                </span>
              </div>
              <div class="row">
                <div class="col s8">
                  <a (click)="addWord()" class="waves-effect waves-light blue btn"> any word </a>
                  <a (click)="addDigit()" class="waves-effect waves-light blue btn"> any number </a>
                  <a (click)="addWhitespace()" class="waves-effect waves-light blue btn"> whitespace </a>
                  <a (click)="generate()" class="waves-effect waves-light orange btn"> Generate! </a>
                </div>
                <div class="col s4">
                  <h6>Output Shows Here:</h6>

                </div>
              </div>
              <div class="row">
                <div class="col s6">
                  <div class="row">
                    <div class="input-field inline">
                      <input [(ngModel)]="stringInput" name="stringInput" id="email" type="email" class="">
                    </div>
                    <a (click)="addString(stringInput)" class="waves-effect waves-light btn"> add custom string </a>
                  </div>
                  <div class="row">
                    <div class="chips chips-initial"></div>
                    <a (click)="addOr()" class="waves-effect waves-light btn"> add or clause </a>
                  </div>
                </div>
                <div class="col s6">

                  <h4>TESTING ZONE</h4>

                  <ul class="collection">
                    <li *ngFor="let testStr of testStrings" [innerHTML]="highlight(testStr, '\\s+')" class="collection-item">Alvin</li>
                  </ul>

                  <form (submit)="addTestString()" class="col s12">
                    <div class="row">
                      <div class="input-field">
                        <input placeholder="Placeholder" [(ngModel)]="testStringField" name="testStringField" id="higasdhflik" type="text" class="validate">
                        <label for="higasdhflik">Add a test case</label>
                      </div>
                    </div>
                    <button type="submit" style="display: none"></button>
                  </form>
                </div>
              </div>
              <span class="chip quantified" style="float: right">any number of occurrences</span>
              <span class="chip" style="float: right">single occurrence</span>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
