.digitChip {
  background-color: lightblue;
  font-style: italic;
}

.wordChip {
  background-color: lightblue;
  font-style: italic;
}

.whitespaceChip {
  background-color: lightblue;
  font-style: italic;
}
